/* Card.css */
.card {
  margin-top: 1rem;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(15, 15, 15, 0.5); /* Add shadow */
  width: 14rem;
  height: 15rem;
  text-align: center;

  /* justify-content: space-between; */
}

.icon {
  text-align: center;
}
.icon img {
  margin-top: 1rem;
  width: 50px;
}

h3 {
  font-size: 24px;
}

p {
  font-size: 16px;
  color: #666;
}
