.footer {
  background-color: #fff;

  box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.1);

  max-width: 100vw;
  bottom: 0;
}
.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
.footer-text {
  font-size: 24px;
  font-weight: bold;
}

.green-text {
  color: #4caf50; /* Green color for Recycle */
}

.black-text {
  color: #000000; /* Black color for Net */
}
